$orbitItemSize: 1.6em;
$ringMap: (ring-0: 7, ring-1: 4);
$lastRing: 1;

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: #fff;
}

html, body {
  margin: 0;
  padding: 0;
}

//fonts
@font-face {
  font-family: 'refrigerator-deluxe';
  src: url('fonts/Refrigerator Deluxe.otf') format('truetype');
}

//home section
#home-section {
  background-image: url('elements/169383.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

#sub-home-title {
  position: absolute;
  white-space: nowrap;
  top: 22%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.5em;
  color: #ff66ff;
  font-family: 'refrigerator-deluxe', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.1em;
  font-weight: 700;
  font-style: normal;
}

#home-title {
  position: absolute;
  white-space: nowrap;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 6em;
  color: white;
  font-family: 'refrigerator-deluxe', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.1em;
  font-weight: 700;
  font-style: normal;
}

.nav-buttons {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  top: 2%;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  float: right;

  .nav-link {
    font-family: 'refrigerator-deluxe', sans-serif;
    font-size: 1.5em;
    color: #fff;
    top: 10%;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: #ff66ff;
    }
  }
}

//social section
#social-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

#social-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  color: white;
  font-family: 'refrigerator-deluxe', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.1em;
  font-weight: 700;
  font-style: normal;
}

.orbit-icon {
  width: $orbitItemSize;
  height: $orbitItemSize;
  line-height: $orbitItemSize;
  font-size: 1.4em;
  text-align: center;
  display: block;
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(0.7);
  }
}

.orbit-wrap {
  margin: 0;
  position: relative;
  top: 0%;
  width: 100%;
  height: calc(100vh - 30px);
  list-style: none;
  animation: hoverEffect 5s infinite ease-in-out;

  > li {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      ul {
        border-width: 3px;
        border-color: #fff;
      }
    }
  }
}
  
ul[class^=ring] {
  @extend %ring;
  transition: all 300ms ease-in-out;
  li {
    @extend %orbiting-object;
    transition: all 300ms ease-in-out;
  }
}

@mixin orbit-item($numItems, $numRing) {
  @for $s from 1 through $numItems {  
    $deg: 360deg / $numItems;
    
    .ring-#{$numRing} > *:nth-of-type(#{$s}) {
      transform: rotate($s * $deg) translate(15em - ($numRing * 4)) rotate(-$s * $deg);
    }
  }
}

@for $i from 0 through $lastRing {  
  .ring-#{$i} {
    width: 30em - ($i * 8);
    height: 30em - ($i * 8);
    animation: clockwiseRotate 35s - ($i * 5) linear infinite;
  
    img {
      animation: counterClockwiseRotate 35s - ($i * 5) linear infinite;
    }
  }
  
  @include orbit-item(map-get($ringMap, ring-#{$i}), $i);
}

%ring {
  border: solid 2px #cc00cc;
  position: relative;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
}

%orbiting-object {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $orbitItemSize;
  height: $orbitItemSize;
  margin: -$orbitItemSize / 2;
}

.orbit-center {
  z-index: 5;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  &:hover .orbit-center__icon {
    transform: rotateZ(0deg);
  }
}

.orbit-center__icon {
  transform: rotateZ(-360deg);
  transition: all 300ms ease-in-out;
}

//about section
#about-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

#about-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  color: white;
  font-family: 'refrigerator-deluxe', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.1em;
  font-weight: 700;
  font-style: normal;
}
  
@keyframes clockwiseRotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

@keyframes hoverEffect {
  0%, 100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes glitch {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 2px 0 #ff9999, -2px 0 #00ff80;
  }
  20% {
    text-shadow: none;
  }
  20% {
    text-shadow: 2px 0 #ffff99, -2px 0 #00aaff;
  }
  40% {
    text-shadow: none;
  }
  50% {
    text-shadow: 2px 0 #00ff80, -2px 0 #ff66ff;
  }
  60% {
    text-shadow: none;
  }
  70% {
    text-shadow: 2px 0 #00aaff, -2px 0 #ff9999;
  }
  80% {
    text-shadow: none;
  }
  90% {
    text-shadow: 2px 0 #ff66ff, -2px 0 #ffff99;
  }
  100% {
    text-shadow: none;
  }
}