* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: #fff;
}

html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "refrigerator-deluxe";
  src: url("fonts/Refrigerator Deluxe.otf") format("truetype");
}
.nav-buttons {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#main-social-section {
  background-image: url("elements/169383.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#about-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
}
.nav-buttons .nav-link {
  font-family: "refrigerator-deluxe", sans-serif;
  font-size: 2.5em;
  color: #fff;
  top: 10%;
  margin: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
.nav-buttons .nav-link:hover {
  text-decoration: underline;
}

#about-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  color: white;
  font-family: "refrigerator-deluxe", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.1em;
  font-weight: 700;
  font-style: normal;
}

#webpage-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 5em;
  color: white;
  font-family: "refrigerator-deluxe", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.1em;
  font-weight: 700;
  font-style: normal;
}

.orbit-icon {
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  font-size: 1.4em;
  text-align: center;
  display: block;
  transition: filter 0.3s ease;
}
.orbit-icon:hover {
  filter: brightness(0.7);
}

.orbit-wrap {
  margin: 0;
  position: relative;
  width: 100vw;
  height: calc(100vh - 30px);
  list-style: none;
  animation: hoverEffect 5s infinite ease-in-out;
}
.orbit-wrap > li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.orbit-wrap > li:hover ul {
  border-width: 3px;
  border-color: #fff;
}

ul[class^=ring] {
  transition: all 300ms ease-in-out;
}
ul[class^=ring] li {
  transition: all 300ms ease-in-out;
}

.ring-0 {
  width: 30em;
  height: 30em;
  animation: clockwiseRotate 35s linear infinite;
}
.ring-0 img {
  animation: counterClockwiseRotate 35s linear infinite;
}

.ring-0 > *:nth-of-type(1) {
  transform: rotate(51.4285714286deg) translate(15em) rotate(-51.4285714286deg);
}

.ring-0 > *:nth-of-type(2) {
  transform: rotate(102.8571428571deg) translate(15em) rotate(-102.8571428571deg);
}

.ring-0 > *:nth-of-type(3) {
  transform: rotate(154.2857142857deg) translate(15em) rotate(-154.2857142857deg);
}

.ring-0 > *:nth-of-type(4) {
  transform: rotate(205.7142857143deg) translate(15em) rotate(-205.7142857143deg);
}

.ring-0 > *:nth-of-type(5) {
  transform: rotate(257.1428571429deg) translate(15em) rotate(-257.1428571429deg);
}

.ring-0 > *:nth-of-type(6) {
  transform: rotate(308.5714285714deg) translate(15em) rotate(-308.5714285714deg);
}

.ring-0 > *:nth-of-type(7) {
  transform: rotate(360deg) translate(15em) rotate(-360deg);
}

.ring-1 {
  width: 22em;
  height: 22em;
  animation: clockwiseRotate 30s linear infinite;
}
.ring-1 img {
  animation: counterClockwiseRotate 30s linear infinite;
}

.ring-1 > *:nth-of-type(1) {
  transform: rotate(90deg) translate(11em) rotate(-90deg);
}

.ring-1 > *:nth-of-type(2) {
  transform: rotate(180deg) translate(11em) rotate(-180deg);
}

.ring-1 > *:nth-of-type(3) {
  transform: rotate(270deg) translate(11em) rotate(-270deg);
}

.ring-1 > *:nth-of-type(4) {
  transform: rotate(360deg) translate(11em) rotate(-360deg);
}

ul[class^=ring] {
  border: solid 2px #cc66ff;
  position: relative;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
}

ul[class^=ring] li {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.6em;
  height: 1.6em;
  margin: -0.8em;
}

.orbit-center {
  z-index: 5;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.orbit-center:hover .orbit-center__icon {
  transform: rotateZ(0deg);
}

.orbit-center__icon {
  transform: rotateZ(-360deg);
  transition: all 300ms ease-in-out;
}

@keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes hoverEffect {
  0%, 100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30px);
  }
}/*# sourceMappingURL=styles.css.map */